<script>
export default {
  props: {
    value: {type: Array, default: []},
    list_style: {type: String, default: ""},
    variant: {type: String, default: ""},
    size: {type: Number},
    additional_class_wrapper: {type: String, default: ""},
    additional_class_list: {type: String, default: ""}
  }
}
</script>
<template>
  <ol :class="`${additional_class_wrapper}`" :style="`${(list_style) ? 'list-style:'+list_style : ''}`">
    <li v-for="(val, index) in value" :key="index" :class="`${additional_class_list}`">
      {{ val.text }}
    </li>
  </ol>
</template>
