<script>
export default {
  props : {
    list_style : {default : ""},
    additional_class : {default  :""}
  }
}
</script>
<template>
  <li :style="`list-style: ${list_style}`" :class="additional_class">
    <slot />
  </li>
</template>