<script>
export default {
  props: {
    size: {type: String, default: "md"},
    is_centered: {type: Boolean, default: true},
    value: {type: Boolean, default: false},
  },
  methods : {
    toggleCloseModal(){
      this.$emit("close")
    }
  },
  computed : {
    local_value : {
      get : function (){
        return this.value
      },
      set : function (value){
        return this.$emit("input", value)
      }
    }
  }
}
</script>
<template>
  <div>
    <b-modal v-model="local_value" :size="size" :centered="is_centered" hide-header hide-footer @hidden="toggleCloseModal">
      <slot/>
    </b-modal>
  </div>
</template>