<script>
import {Fragment} from "vue-fragment"
import {s3Methods} from "~/store/helperActions";
import ActiveButton from "~/components/atoms/button/ActiveButton";
import DisabledButton from "~/components/atoms/button/DisabledButton";
import PlainLabel from "~/components/atoms/label/PlainLabel";
import PlainList from "~/components/atoms/list/PlainList";
import {Cropper, CircleStencil} from 'vue-advanced-cropper'

export default {
  components: {PlainList, PlainLabel, DisabledButton, ActiveButton, Fragment, Cropper, CircleStencil},
  props: {
    value: {default: ""},
    module: {default: "mgmt/uploaded"},
    max_file: {default: 3000000},
    file_type: {default: ".png,.jpeg,.jpg"},
    button_text: {default: "Unggah file"},
    button_variant: {default: "primary"},
    button_type: {default: "fill"},
    button_size: {default: "md"},
    button_class: {default: ""},
    loading_text: {default: "Sedang mengunggah"},
    has_cropper: {default: false},
  },
  computed: {
    local_value: {
      get: function () {
        return this.value
      },
      set: function (value) {
        this.$emit('input', value)
      }
    },
  },
  data: () => ({
    helper: {
      validations: {
        is_error_size: false,
        is_error_format: false
      }
    },
    modal: {
      modal_cropper: false
    },
    cropper: {
      coordinates: {
        width: 0,
        height: 0,
        left: 0,
        top: 0,
      },
      image: 'https://via.placholder.com/512',
    },
    button: {
      submit_button: {
        is_showed: true,
        is_disabled: false
      },
      loading_button: {
        is_showed: false
      }
    }
  }),
  methods: {
    ...s3Methods,

    toggleLoadingButton() {
      this.button.loading_button.is_showed = !this.button.loading_button.is_showed
      this.button.submit_button.is_showed = !this.button.submit_button.is_showed
    },

    toggleValueInputFile(value) {
      this.local_value = value
    },

    toggleModalCropper() {
      this.modal.modal_cropper = !this.modal.modal_cropper
    },

    formatDefaultSizeCropper() {
      return {
        width: 100,
        height: 100,
      };
    },

    formatDefaultPositionCropper() {
      return {
        left: 0,
        top: 0,
      };
    },

    processCropImage() {
      const {coordinates, canvas} = this.$refs.cropper_component.getResult();
      this.cropper.coordinates = coordinates
      this.toggleModalCropper()
      this.processUploadImage(canvas.toDataURL())
    },

    processValidateSize(file) {
      let size = file.size
      if (size > this.max_size) {
        this.helper.validations.is_error_size = true
        return true
      } else {
        return false
      }
    },

    processValidateFormat(file) {
      let type = file.type.split('/')
      type = `.${type[1].toLowerCase()}`
      if (!(this.file_type.split(",").includes(type))) {
        this.helper.validations.is_error_format = true
        return true;
      } else {
        return false
      }
    },

    async processValidateFile(file) {
      return await this.processValidateFormat(file) || await this.processValidateSize(file)
    },

    async processReadFile(e) {
      let files = e.target.files || e.dataTransfer.files;
      var reader = new FileReader();
      let file_validated = await this.processValidateFile(files[0])
      if (!files.length) {
        return;
      } else if (file_validated) {
        return;
      } else {
        if (this.has_cropper) {
          reader.onload = (e) => {
            this.cropper.image = e.target.result;
          };
          reader.readAsDataURL(files[0]);
          this.toggleModalCropper()
          setTimeout(this.$refs.cropper_component, 3500)
        } else {
          reader.onload = (e) => {
            this.photo_card = e.target.result;
          };
          reader.readAsDataURL(files[0]);
          await this.processUploadImage(files[0]);
        }
      }
    },

    async processUploadImage(file) {
      this.toggleLoadingButton();
      if (typeof file === "string")
        file = this.$utility.convertDataURItoBlob(file)

      let type = file.type.split('/')
      let full_file = this.$utility.generateFilePathPreSigned(this.module, type[1])
      let pre_signed = await this.getPreSignedPostUrl({"object_name": full_file})
      pre_signed = pre_signed.values
      await this.processS3Upload(pre_signed, file)
      this.toggleLoadingButton();
    },

    async processS3Upload(pre_signed, file) {
      try {
        await this.uploadDataToS3({preSigned: pre_signed, file: file})
        this.toggleValueInputFile(pre_signed.fields.key)
      } catch (e) {
        this.button.submit_button.is_disabled
      }
    },
  },
}
</script>
<template>
  <div>
    <input type="file" ref="file" style="display: none" @change="processReadFile($event)" :accept="file_type">
    <active-button v-show="button.submit_button.is_showed" :additional_class="button_class" :variant="button_variant"
                   :type="button_type" :text="button_text" @click="$refs.file.click()" :size="button_size"
                   :is_disabled="button.submit_button.is_disabled"/>
    <disabled-button v-show="button.loading_button.is_showed" :text="loading_text"/>
    <p class="small">
      <plain-list v-show="helper.validations.is_error_format" additional_class="ml-3">
        <plain-label variant="danger" value="Format file yang anda unggah tidak diizinkan"/>
      </plain-list>
      <plain-list v-show="helper.validations.is_error_size" additional_class="ml-3">
        <plain-label variant="danger" value="Ukuran file yang anda unggah terlalu besar"/>
      </plain-list>
    </p>

    <b-modal v-model="modal.modal_cropper" hide-footer hide-header size="xl" centered>
      <cropper ref="cropper_component" :src="cropper.image" :default-size="formatDefaultSizeCropper"
               :default-position="formatDefaultPositionCropper" stencil-component="circle-stencil"/>
      <div class="text-center mt-2">
        <active-button @click="processCropImage"/>
        <active-button @click="toggleModalCropper" text="batal" type="outline"/>
      </div>
    </b-modal>
  </div>
</template>