<script>
export default {
  props: {
    variant: {type: String, default: "primary"},
    is_disabled: {type: Boolean, default: false},
    size: {type: String, default: "md"},
    value : {type : Boolean, default : true},
    unchecked_value: {default: false},
  },
  computed: {
    local_value: {
      get: function () {
        return this.value
      },
      set: function (value) {
        this.$emit('input', value)
      }
    },
  },
  methods: {
    changeValue(value) {
      this.$emit("input", value)
    }
  }
}
</script>
<template>
    <b-form-checkbox switch :unchecked-value="unchecked_value" v-model="local_value" :size="size" :disabled="is_disabled"
    ></b-form-checkbox>
</template>