<script>
export default {
  props: {
    id: {default: ''},
    is_disabled: {default: false},
    format: {default: ''},
    is_submitted: {default: false},
    size: {default: 'md'},
    value: {default: ''},
    placeholder: {default: ''},
    is_autocomplete: {default: true},
    is_error: {default: false},
    max_length: {default: 524288},
    additional_class: {default: ''}
  },
  data() {
    return {
      input_class: "form-control",
    }
  },
  computed: {
    local_value: {
      get: function () {
        return this.value
      },
      set: function (value) {
        if (Array.isArray(this.format)) {
          this.format.forEach(item => {
            value = this.reformatText(item, value)
          })
        } else {
          value = this.reformatText(this.format, value)
        }
        this.$emit('input', (value) ? value : '')
      }
    },
  },
  watch: {
    is_error: function () {
      this.generateInputClass()
    },

    is_submitted: function () {
      this.generateInputClass()
    },
  },

  mounted() {
    this.generateInputClass()
  },

  methods: {
    submitToParent() {
      this.$emit("submit")
    },

    reformatText(type, text) {
      switch (type) {
        case 'number' :
          return this.$utility.removeLetter(text)
        case 'currency' :
          text = this.$utility.removeLetter(text)
          text = this.$utility.convertToNumber(text)
          return this.$utility.convertToRupiah(text)
        case 'letter' :
          return this.$utility.removeNumber(text)
        case 'no-symbol' :
          return this.$utility.removeSymbols(text)
        case 'no-space' :
          return this.$utility.removeSpace(text)
        default :
          return text
      }
    },

    convertSizeToClass(size) {
      switch (size) {
        case  'md' :
          return 'form-control'
          break;
        case  'sm' :
          return 'form-control form-control-sm'
          break;
        case  'lg' :
          return 'form-control form-control-lg'
          break;
        default:
          return "form-control"
      }
    },

    generateInputClass() {
      if (this.is_submitted && this.is_error) {
        this.input_class = `${this.convertSizeToClass(this.size)} is-invalid ${this.additional_class}`
      } else {
        this.input_class = `${this.convertSizeToClass(this.size)} ${this.additional_class}`
      }
    },
  }
}
</script>
<template>
  <div>
    <input v-model="local_value" @keyup.enter="submitToParent" :class="input_class" :id="id" :disabled="is_disabled"
           :maxlength="max_length" :placeholder="placeholder" :autocomplete="(is_autocomplete) ? 'on' : 'off'"
           :name="id"
    />
  </div>
</template>
<style>
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--success) !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--success) !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--success) !important;
}
</style>