<script>
export default {
  props: {
    id: {default: ''},
    format: {default: ''},
    size: {default: 'md'},
    value: {default: ''},
    max_length: {default: 524288},
    placeholder: {default: ''},
    is_disabled: {default: false},
    is_submitted: {default: false},
    is_error: {default: false},
    additional_class: {default: ''}
  },
  data() {
    return {
      input_class: "form-control",
    }
  },

  watch: {
    is_error: function () {
      this.generateInputClass()
    },
    is_submitted: function () {
      this.generateInputClass()
    },
  },

  methods: {
    updateToParent(value) {
      if (Array.isArray(this.format)) {
        this.format.forEach(item => {
          value = this.reformatText(item, value)
        })
      } else {
        value = this.reformatText(this.format, value)
      }
      this.$emit('input', (value) ? value : '')
      document.getElementById(this.id).value = value
    },

    submitToParent() {
      this.$emit("submit")
    },

    reformatText(type, text) {
      switch (type) {
        case 'number' :
          return this.$utility.removeLetter(text)
        case 'currency' :
          text = this.$utility.removeLetter(text)
          text = this.$utility.convertToNumber(text)
          return this.$utility.convertToRupiah(text)
        case 'letter' :
          return this.$utility.removeNumber(text)
        case 'no-symbol' :
          return this.$utility.removeSymbols(text)
        case 'no-space' :
          return this.$utility.removeSpace(text)
        default :
          return text
      }
    },

    convertSizeToClass(size) {
      switch (size) {
        case  'md' :
          return 'form-control'
          break;
        case  'sm' :
          return 'form-control-sm'
          break;
        case  'lg' :
          return 'form-control-lg'
          break;
        default:
          return "form-control"
      }
    },

    generateInputClass() {
      if (this.is_submitted && this.is_error) {
        this.input_class = `${this.convertSizeToClass(this.size)} is-invalid ${this.additional_class}`
      } else {
        this.input_class = `${this.convertSizeToClass(this.size)} ${this.additional_class}`
      }
    }
  }
}
</script>
<template>
  <textarea :placeholder="placeholder" :class="input_class" :id="id" style="resize: none" rows="5"
            :value="(value) ? value : ''" v-on:input="updateToParent($event.target.value)" @keyup.enter="submitToParent"
            :maxlength="max_length" :disabled="is_disabled"></textarea>
</template>
<style>
textarea::placeholder {
  color: #cecece !important;
}
</style>