<script>
export default {
  props: {
    value: {default: ""},
    variant: {default: "dark"},
    is_bold: {default: true},
    is_italic: {default: true},
    has_space: {default: true},
    limit_text: {default: ""},
    additional_class: {default: ""},
    size: {default: "md"},
  },
  methods: {
    renderFormattedText() {
      if (this.value.length > this.limit_text) {
        return `${this.value.substr(0, this.limit_text)}${(this.has_space) ? ' ' : ''}...`
      }
    }
  }
}
</script>
<template>
  <label v-b-tooltip.hover.bottom="{ title: value, disabled : (limit_text > value.length )}"
         :class="`${(is_bold) ? `font-weight-bold` : `` } ${(is_italic) ? `font-italic` : `` }
       ${(size) ? 'font-size-'+size : `` } text-${variant} ${additional_class}`">
    {{ renderFormattedText() }}
  </label>
</template>