<script>
export default {
  props: {
    id: {default: ""},
    value: {default: ""},
    variant: {default: "dark"},
    is_bold: {default: false},
    is_italic: {default: false},
    has_label: {default: false},
    size: {default: ""},
    additional_class: {default: ""}
  }
}
</script>
<template>
  <label :id="id" :ref="id" :class="`${(is_bold) ? `font-weight-bold` : `` } ${(is_italic) ? `font-italic` : `` }
        ${(size) ? 'font-size-'+size : `` } text-${variant} ${additional_class}`">
    <span v-show="has_label">Rp </span>
    <span> {{ $utility.convertToRupiah(value) }} </span>
  </label>
</template>