<template>
  <main-layout>
    <b-row class="px-3 px-lg-0">
      <h1 class="d-none">Welcome RGB Phone</h1>
      <b-col cols="12" lg="3">
        <div v-if="helper.is_loading" class="my-5 mx-auto text-center">
          <b-spinner/>
        </div>
        <custom-sidenav v-else v-model="form.filter"/>
      </b-col>
      <b-col cols="12" lg="9">
        <product-filter v-model="form.sort"/>
        <product-list v-if="data.length > 0" :data="data" :sort="form.sort" :filter="form.filter"/>
        <div v-else class="my-5 py-5 text-center min-vh-100" >
          <b-spinner />
        </div>
      </b-col>
    </b-row>
  </main-layout>
</template>

<script>
import MainLayout from "@/layouts/MainLayout";
import SquareCard from "@/components/atoms/card/SquareCard";
import {mapState} from 'vuex'
import CheckboxInput from "@/components/atoms/input/CheckboxInput";
import SelectInput from "@/components/atoms/input/SelectInput";
import ProductList from "@/components/organisms/product/ProductList";
import CustomSidenav from "@/components/core/CustomSidenav";
import ProductFilter from "../../components/molecules/product/ProductFilter";

export default {
  name: "index",
  components: {
    ProductFilter,
    CustomSidenav,
    ProductList,
    SelectInput,
    CheckboxInput,
    SquareCard,
    MainLayout
  },
  data: () => ({
    form: {
      filter: [],
      sort: {}
    },
    helper: {
      is_loading: false
    },
    pagination: {
      currentPage: 1,
      itemPerPage: 1000, // sorting and ordering will process in client side
      totalPages: 0,
      totalItems: 0,
    }
  }),
  created() {
    this.$store.dispatch("product/get_product", this.setPayloadGet())
  },
  computed: {
    ...mapState({
      data: (state) => {
        return state.product.PRODUCTS
      }
    })
  },
  methods: {
    setPayloadGet() {
      return {
        filter: {},
        order: {},
        pagination: {
          currentPage: this.pagination.currentPage,
          itemPerPage: this.pagination.itemPerPage
        }
      }
    },

    toggleLoadingData() {
      this.helper.is_loading = !this.helper.is_loading
    },
  }
}
</script>