.form-group > label {
  font-weight: 600;
  color: #4a4a4a;
  line-height: 1.19;
}

.shadow-box {
  box-shadow: 0 2.5px 6px 0 #dbdbdb;
}

button.btn-orange-outline > i {
  color: $primary !important;
}
