.border-form {
  padding: 5px 10px !important;
  border-radius: 5px;
  border: solid 0.5px #b6b6b6;
}

.border-form > div {
  padding: 15px 10px 10px 15px;
}

.border-dark {
 border-color: #b6b6b6 !important;
}

