<template>
  <b-row class="min-vh-100">
    <b-col v-for="(product, index) in products" :key="index" cols="12" lg="4" class="mb-2">
      <square-card :has_border="true" additional_class="border-dark rounded-lg overflow-hidden" :has_shadow="false">
        <div @mouseenter="toggleProductHighLight(index, product.attributes.stock)" @mouseleave="processRemoveHighlight">

          <div v-if="product.attributes.stock < 1"
               class="position-absolute h-100 w-100 no-stock-bg p-3 wrapper-product-position rounded-lg z-index-2">
            <product-stock additional_class="col-12 px-1" stock="0"/>
          </div>
          <div v-else :class="`d-none wrapper-product wrapper-product-${index}`">
            <product-action :data="product"/>
          </div>
          <product-stock additional_class="col-12 px-1" :stock="product.attributes.stock"/>
          <product-ribbon :is_new="product.attributes.isNew" :rating="product.attributes.rating"
                          :total_review="product.attributes.numOfReviews" v-show="product.attributes.stock > 0"/>
          <div @click="processRouteToDetail(product.attributes.slug)">
            <div class="text-center my-2">
              <content-image :value="product.attributes.images[0]" height="225" :is_responsive="false"/>
            </div>
            <div class="caption">
              <product-overview :point="product.attributes.points" :product_name="product.attributes.name"
                                :rating="product.attributes.rating" :review="product.attributes.numOfReviews"
                                :is_wishlist="product.attributes.isWishlist"/>
            </div>
          </div>

        </div>
      </square-card>
    </b-col>
  </b-row>
</template>

<script>
import SquareCard from "../../atoms/card/SquareCard";
import ProductRibbon from "../../molecules/shared/ProductRibbon";
import ProductImage from "../../molecules/product/ProductImage";
import PlainLabel from "../../atoms/label/PlainLabel";
import ProductStock from "../../molecules/shared/ProductStock";
import ActiveButton from "../../atoms/button/ActiveButton";
import ProductOverview from "../../molecules/product/ProductOverview";
import ContentImage from "../../atoms/image/ContentImage";
import ProductAction from "../../molecules/product/ProductAction";

export default {
  name: "ProductList",
  props: {
    data: {default: () => ([])},
    filter: {default: () => ([])},
    sort: {default: ""}
  },
  components: {
    ProductAction,
    ContentImage,
    ProductOverview,
    ActiveButton,
    ProductStock,
    PlainLabel,
    ProductImage,
    ProductRibbon,
    SquareCard
  },
  data: () => ({
    products: []
  }),
  created() {
    this.products = this.data
  },
  watch: {
    filter: function (value) {
      // reset to new data
      this.products = this.data

      if (value.includes("RATE")) {
        this.processFilterBestSeller()
      }

      if (value.includes("STOCK")) {
        this.processFilterStock()
      }

      this.processSortData()
    },

    sort: function () {
      this.processSortData()
    }

  },
  methods: {

    async toggleProductHighLight(index, stock) {
      console.log(index, stock)
      if (parseInt(stock) > 0) {
        this.processRemoveHighlight()
        let selectedClass = window.document.querySelector('.wrapper-product-' + index)
        selectedClass.classList.remove('d-none')
      }
    },

    async processRemoveHighlight() {
      let classWrapper = window.document.querySelectorAll('.wrapper-product')
      for (var i = 0; i < classWrapper.length; i++) {
        classWrapper[i].classList.add("d-none")
      }
    },

    processRouteToDetail(data) {
      this.$utility.setCookie("selectedProduct", data.id)
      this.$router.push(`/detail?slug=${data.attributes.slug}`)
    },

    processFilterBestSeller() {
      this.products = this.products.filter((opt) => {
        return parseFloat(opt.attributes.rating) > 4.00
      })
    },

    processFilterStock() {
      this.products = this.products.filter((opt) => {
        return parseFloat(opt.attributes.stock) > 0
      })
    },

    async processSortData() {
      if (!this.sort) {
        return
      }

      /// WHAT ??????????
      // HOW ? HOW ? ITS MAGIC?
      // IF I AM REMOVE THIS LINE I CANT PROCESS SORTING DATA, I GOT STUCK FOR 4 HOURS
      // https://forum.vuejs.org/t/do-not-mutate-vuex-store-state-outside-mutation-handlers/29631
      let product_list = JSON.stringify(this.products)
      product_list = JSON.parse(product_list)


      switch (this.sort.value) {
        case "LOWEST":
          this.products = product_list.sort((prev, next) => {
            return parseFloat(prev.attributes.rating) - parseFloat(next.attributes.rating)
          })
          break
        case "HIGHEST":
          this.products = product_list.sort((prev, next) => {
            return parseFloat(next.attributes.rating) - parseFloat(prev.attributes.rating)
          })
          break
        case "NEWEST":
          this.products = product_list.sort((prev, next) => {
            return parseFloat(next.attributes.isNew) - parseFloat(prev.attributes.isNew)
          })
          break
        default:
          return
      }
    }
    ,

  }
}
</script>

<style scoped>
.wrapper-product-position {
  top: 0 !important;
  left: 0 !important;
}

.no-stock-bg {
  background: #d1d3dd !important;
  opacity: 0.73;
}

.in-stock-bg {
  background: linear-gradient(rgba(116, 183, 27, 0.9), rgba(100, 156, 26, 0.9));
}
</style>
