<script>
import image from "~/static/images/no-image.png"

export default {
  props: {
    value: {default: ""},
    is_responsive: {default: true},
    height: {type: String},
    width: {type: String},
    alt: {default: ""},
    additional_class: {default: ""},
    custom_style: {default: ""},
  },
  computed: {
    default_image  : function (){
      return image
    }
  },
}
</script>
<template>
  <img v-lazy="(value) ? value : default_image" :alt="`image-${value}`" :height="height" :width="width"
       :class="`${(is_responsive) ? 'img-fluid' :  ''} ${additional_class}`" :style="custom_style">
</template>