<script>
export default {
  props: {
    value: {default: ""},
    is_responsive: {default: true},
    height: {type: String},
    width: {type: String},
    default_image: {default: `${process.env.ASSET_URL}/plain.png`},
    alt: {default: "image uploads"},
    additional_class: {default: ""},
  }
}
</script>
<template>
  <img :src="(value!== '') ? value : default_image" :alt="alt" :height="height" :width="width"
       :class="`${(is_responsive) ? 'img-fluid' :  ''}  rounded-circle ${additional_class}`">
</template>