<template>
  <div>
    <i v-for="num in actual_value.filled" :class="`bx bxs-star text-warning font-size-${rating_font_size}`"></i>
    <i v-for="num in actual_value.blank" :class="`bx bx-star text-muted font-size-${rating_font_size}`"></i>
    <i v-for="num in actual_value.half" :class="`bx bx-star-half text-muted font-size-${rating_font_size}`"></i>
    <plain-label :additional_class="`text-muted font-size-${review_font_size}`"
                 :value="`${this.$utility.convertToRupiah(review)} reviews`"/>
  </div>
</template>

<script>
import PlainLabel from "../../atoms/label/PlainLabel";
import {Fragment} from "vue-fragment"
export default {
  name: "ProductReview",
  components: {PlainLabel, Fragment},
  props: {
    rating: {default: "0"},
    rating_font_size: {default: "12"},
    review: {default: "0"},
    review_font_size: {default: "12"},
  },
  computed: {
    actual_value: function () {
      let star_formatted
      let rate = parseFloat(this.rating)
      let decimal = rate % 1
      if (decimal > 0.50 && decimal < 0.59) {
        star_formatted = {
          half: 1,
          filled: Math.floor(rate),
          blank: 4 - Math.floor(rate)
        }
      } else if (decimal > 0.50) {
        star_formatted = {
          half: 0,
          filled: Math.ceil(rate),
          blank: 5 - Math.ceil(rate)
        }
      } else {
        star_formatted = {
          half: 0,
          filled: Math.floor(rate),
          blank: 5 - Math.floor(rate)
        }
      }
      return star_formatted
    },
  }
}
</script>

<style scoped>

</style>