<template>
  <label :class="` ${additional_class} ${caption.class_list} font-size-${size}`" :style="custom_style">
    {{ caption.text }}
  </label>
</template>

<script>
export default {
  name: "ProductStock",
  props: {
    stock: {default: "0"},
    size: {default: "12"},
    custom_style: {default: ""},
    additional_class: {default: ""},
  },
  computed: {
    caption: function () {
      let caption_formatted = {}
      if (parseInt(this.stock) < 5 && parseInt(this.stock) > 0) {
        caption_formatted = {
          text: "Stok < 5",
          class_list: `font-weight-bold text-danger`
        }
      } else if (parseInt(this.stock) > 0) {
        caption_formatted = {
          text: "In Stock",
          class_list: `font-weight-bold text-primary`
        }
      } else {
        caption_formatted = {
          text: "Sold Out",
          class_list: `font-weight-bold text-danger`
        }
      }
      return caption_formatted
    },
  },
}
</script>

<style scoped>

</style>