<template>
  <div class="position-absolute" style="right: -8px;top:-7px">
    <img v-if="state === 'hot'" src="~/assets/images/product/product-ribbon-hot.png" alt="ribbon-hot-product">
    <img v-if="state === 'new'" src="~/assets/images/product/product-ribbon-new.png" alt="ribbon-new-product">
    <img v-if="state === 'best'" src="~/assets/images/product/product-ribbon-best.png" alt="ribbon-best-product">
  </div>
</template>

<script>
export default {
  name: "ProductRibbon",
  props: {
    rating: {default: ""},
    is_new: {default: ""},
    total_review: {default: ""}
  },
  computed: {
    state: function () {
      let is_new = (this.is_new === 1)
      let is_best = this.processCheckBestSeller()
      if (is_new && is_best) {
        return "hot"
      } else if (is_best) {
        return "best"
      } else if (is_new) {
        return "new"
      } else {
        return ""
      }
    }
  },
  methods: {
    processCheckBestSeller() {
      return (parseInt(this.rating) >= 4 && parseInt(this.total_review) > 25)
    }
  }
}
</script>