<template>
  <fragment>
    <img v-if="is_outline" src="~/assets/images/product/point.png" style="max-width: 48px" alt="">
    <img v-else src="~/assets/images/product/point.png" style="max-width: 48px" alt="">
    <plain-label :additional_class="`text-primary font-size-${point_font_size}`"
                 :value="`${this.$utility.convertToRupiah(point)} points`"/>
  </fragment>
</template>
<script>
import PlainLabel from "../../atoms/label/PlainLabel";
import {Fragment} from "vue-fragment"
export default {
  components: {PlainLabel, Fragment},
  props: {
    is_outline: {default: false},
    point: {default: "0"},
    point_font_size: {default: "12"}
  }
}
</script>