<template>
  <main-layout>
    <div v-if="!helper.is_loading">
      <b-row>
        <b-col cols="12" lg="7">
          <div class="col-10 mx-auto">
            <product-ribbon :is_new="data.attributes.isNew" :rating="data.attributes.rating"
                            :total_review="data.attributes.numOfReviews"/>
            <content-image additional_class="p-5" :value="data.attributes.images[0]"/>
          </div>
        </b-col>
        <b-col cols="12" lg="5">
          <plain-label :value="data.attributes.name" size="24" is_bold/>
          <product-review :rating="data.attributes.rating" :review="data.attributes.numOfReviews" rating_font_size="22"
                          review_font_size="22"/>
          <product-point :point="data.attributes.points" point_font_size="22"/>
          <product-stock :stock="data.attributes.stock" size="16"/>
          <span class="mt-2 font-size-14" v-html="data.attributes.info"/>

          <div class="px-0 my-5 col-4">
            <b-input-group>
             <b-input-group-prepend>
                <b-button @click="form.quantity--" variant="light" class="border-dark rounded">-</b-button>
              </b-input-group-prepend>
              <b-form-input type="number" v-model="form.quantity"></b-form-input>
               <b-input-group-prepend>
                <b-button @click="form.quantity++" variant="light" class="border-dark rounded">+</b-button>
              </b-input-group-prepend>
            </b-input-group>
          </div>

          <b-button variant="pink" class="px-4 font-size-12 btn-pill">
            <i class="bx bxs-heart text-white font-size-14"></i>
          </b-button>

          <b-button variant="success" class="px-4 font-size-12 btn-pill">
            Reedem
          </b-button>

          <b-button variant="outline-primary" class="px-4 font-size-12 btn-pill">
            Add To Cart
          </b-button>
        </b-col>
      </b-row>
      <product-description :data="data"/>
    </div>
    <div v-else class="text-center mx-auto my-5 py-5 min-vh-100">
      <b-spinner size="lg"/>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from "../../layouts/MainLayout";
import {Fragment} from 'vue-fragment'
import ContentImage from "../../components/atoms/image/ContentImage";
import ProductRibbon from "../../components/molecules/shared/ProductRibbon";
import PlainLabel from "../../components/atoms/label/PlainLabel";
import ProductPoint from "../../components/molecules/shared/ProductPoint";
import ProductReview from "../../components/molecules/shared/ProductReview";
import ProductStock from "../../components/molecules/shared/ProductStock";
import ProductDescription from "../../components/molecules/product/ProductDescription";

export default {
  name: "index",
  components: {
    ProductDescription,
    ProductStock,
    ProductReview,
    ProductPoint,
    PlainLabel,
    ProductRibbon,
    ContentImage,
    MainLayout,
    Fragment
  },
  data: () => ({
    data: {},
    form: {
      quantity: 0
    },
    helper: {
      is_loading: false
    }
  }),
  created() {
    if (!this.$route.query.slug) this.$router.push("/")
    this.processGetProductDetail()
  },
  computed: {},
  methods: {
    toggleLoadingData() {
      this.helper.is_loading = !this.helper.is_loading
    },
    async processGetProductDetail() {
      this.toggleLoadingData()
      try {
        this.data = await this.$store.dispatch("product/get_product_detail", {
          id: this.$utility.getCookie("selectedProduct")
        })
      } catch (e) {
        this.$bvToast.toast(`Gagal mendapat data produk mohon ulangi cari kembali produk anda `, {
          title: `Gagal mendapat data`,
          variant: "danger",
          toaster: "b-toaster-bottom-right",
          solid: true
        })
        throw e
      }
      this.toggleLoadingData()
    }
  }
}
</script>

<style scoped>

</style>