<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  components: {
    'apexchart': VueApexCharts,
  },
  props: {
    height: {default: "auto"},
    chart_name: {default: () => ({})},
    value: {default: () => ({})},
    name: {default: "Waktu kedatangan"},
    dir: {default: "ltr"},
    additional_class: {default: ""},
    has_chart_toolbar: {default: false},
    legend_position: {default: "top"},
    legend_vertical_align: {default: "right"},
    legend_horizontal_align: {default: "right"},
    has_data_labels: {default: false},
  },
  data: () => ({
    series: [],
    options: {
      noData: {
        text: "Chart tidak tersedia",
      },
      chart: {
        toolbar: {
          show: false
        }
      },
      legend: {
        position: "top",
        verticalAlign: "right",
        horizontalAlign: "right"
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
        width: 3,
      },
      colors: [],
      xaxis: {
        type: 'string',
        categories: []
      },
      grid: {
        borderColor: '#f1f1f1',
      },
    }
  }),
  created() {
    this.processThemingChart()
  },
  methods: {
    formatChartColor(index = 0) {
      let array_colors = [this.$utility.getPrimaryColor(), "#74788d", "#5fa2f4", "#5abf78",
        "#6983aa", "#e97171", "#ede682", "#ba7967", "#f1c5c5", "#f69e7b"]
      if (index) return array_colors[index]
      else return array_colors
    },

    processFillChartColor() {
      this.options.colors = this.formatChartColor()
    },

    processFillChartOption() {
      this.options.chart.toolbar.show = false
      this.options.legend.position = this.legend_position
      this.options.legend.verticalAlign = this.legend_vertical_align
      this.options.legend.horizontalAlign = this.legend_horizontal_align
      this.options.dataLabels.show = this.has_data_labels
    },

    processThemingChart() {
      this.processFillChartColor()
      this.processFillChartOption()
      this.processLabelChart()
      this.processSeriesChart()
    },

    processLabelChart() {
      this.series = []
      this.options.xaxis.label = []
      this.value[0].forEach((item, index) => {
        this.options.xaxis.categories.push(item.name)
      })
    },

    processSeriesChart() {
      this.chart_name.forEach((item, index) => {
        this.series.push({
          name: item,
          data: this.processValueSeries(index)
        })
      })
    },

    processValueSeries(index) {
      let series = []
      this.value[index].forEach((item) => {
        series.push(item.values)
      })
      return series
    },
  }
}
</script>
<template>
  <div>
    <apexchart
        :class="`apex-charts ${additional_class}`"
        :height="height"
        type="area"
        :dir="dir"
        :series="series"
        :options="options"
    ></apexchart>
  </div>
</template>