<script>
export default {
  props: {
    variant: {default: "primary"},
    type: {default: "fill"},
    text: {default: "Simpan"},
    padding: {default: "py-1 px-3"},
    size: {default: "lg"},
    icon: {default: ""},
    align: {default: "ltr"},
    has_shadow: {default: false},
    is_disabled: {default: false},
    has_default_padding: {default: false},
    is_capitalize: {default: true},
    additional_class: {default: ""},
    additional_style: {default: ""}
  },
  data: () => ({}),
  watch: {},
  methods: {
    passToParent() {
      this.$emit('click')
    }
  }
}
</script>

<template>
  <button @click="passToParent"
          :class="`rounded-lg ${(is_capitalize) ? 'text-uppercase' : ''} ${(has_shadow) ? 'shadow-lg': ''} ${padding} btn btn-${variant}-${type} btn-${size} ${additional_class}`"
          :disabled="is_disabled" :style="additional_style" >
    <span v-if="align === 'ltr'"> {{ text }} <i v-if="icon" :class="icon"></i> </span>
    <span v-if="align === 'rtl' "> <i v-if="icon" :class="icon"></i> {{ text }}</span>
  </button>
</template>
