<script>
export default {
  props: {
    options: {type: Array, default: []},
    text: {type: String, default: ""},
    variant: {type: String, default: "primary"},
    type: {type: String, default: ""},
    position: {type: String, default: "left"},
    additional_class: {type: String, default: ""},
    is_capitalize : {default: true},
    is_disabled : {default :  false},
    caret : {type: String, default: "bx bx-caret-down"},
    align: {type: String, default: "left"}
  },
  data: () => ({
    current_text : "",
    is_right: false,
    is_top: false,
  }),
  mounted() {
    this.toggleDropType()
    this.current_text = this.text
  },
  methods: {
    passFunctionToParent(value) {
      this.current_text = value.text
      this.$emit("update", value.value)
    },

    toggleDropType() {
      if (this.position === "right") {
        this.is_right = true
        this.is_top = false
      } else if (this.position === "top") {
        this.is_right = false
        this.is_top = true
      }
    }
  }

}
</script>

<template>
  <b-dropdown id="dropdown-right" :right="is_right" :dropup="is_top" :variant="`${variant}${(type) ? '-'+type : ''}`"
              :additional_class="`${(is_capitalize) ? 'text-uppercase' : ''} ${additional_class}`" :disabled="is_disabled">
    <template #button-content>
      {{ current_text }} <i :class="` ${caret}`"></i>
    </template>
    <b-dropdown-item v-for="(option, index) in options" :key="index" @click="passFunctionToParent(option)">
      {{ option.text }}
    </b-dropdown-item>
  </b-dropdown>
</template>
<style>
.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}
.dropdown-item:hover{
  background: var(--primary);
}
</style>