<script>
import JsonExcel from "vue-json-excel"

export default {
  components: {
    JsonExcel
  },
  props: {
    variant: {default: "primary"},
    type: {default: "fill"},
    text: {default: "Download Laporan"},
    size: {default: "md"},
    icon: {default: ""},
    id: {defautl: ""},
    align: {default: "ltr"},
    has_shadow: {default: false},
    is_disabled: {default: false},
    has_default_padding: {default: false},
    additional_class: {default: ""},
    fields: {default: ""},
    is_capitalize: {default: true},
    content: {default: ""},
    report_name: {default: ""},
  },
  data: () => ({
    period: new Date(),
  }),
  watch: {},
  methods: {
    passToParent() {
      this.$emit('click')
    }
  }
}
</script>

<template>
  <button :disabled="is_disabled"
          :class="`${(is_capitalize) ? 'text-uppercase' : ''} ${(has_shadow) ? 'shadows': ''} btn btn-${variant}-${type} btn-${size} ${additional_class}`">
    <json-excel :fields="fields" :data="content" :name="`${report_name}`" :id="id" :ref="id">
      <span v-if="align === 'ltr'"> {{ text }} <i v-if="icon" :class="icon"></i> </span>
      <span v-if="align === 'rtl' "> <i v-if="icon" :class="icon"></i> {{ text }}</span>
    </json-excel>
  </button>
</template>
