<template>
  <span>
    <a v-if="is_external" :href="destination" rel="noopener noreferrer" :class="`${additional_class}`">
      <i :class="icon"></i><u>{{ text }}</u>
    </a>
    <nuxt-link :to="destination" tag="a" rel="noopener noreferrer" :class="` ${additional_class}`">
      <i :class="icon"></i><u>{{ text }}</u>
    </nuxt-link>
  </span>
</template>

<script>
export default {
  name: "LinkButton",
  props: {
    is_external: {default: false},
    destination: {default: "/"},
    text: {default: ""},
    icon: {default: ""},
    additional_class: {default: ""},
  }
}
</script>

<style scoped>

</style>