.btn {
  font-weight: 600;
  border-radius: 4px;
}

.btn-primary-fill {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: mix(white, $primary, 20%) !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-primary-outline {
  background-color: $white;
  border: 1px solid $primary;
  color: $primary !important;
  text-transform: uppercase;

  &:hover {
    color: $primary;
    border: 1px solid $primary;
    background: mix(white, $primary, 90%) !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-primary-nude {
  color: $primary;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $primary;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}
.btn-secondary-fill {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: mix(white, $secondary, 20%) !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-secondary-outline {
  background-color: $white;
  border: 1px solid $secondary;
  color: $secondary !important;
  text-transform: uppercase;

  &:hover {
    color: $secondary;
    border: 1px solid $secondary;
    background: mix(white, $secondary, 90%) !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-secondary-nude {
  color: $secondary;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $secondary;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}
.btn-info-fill {
  background-color: $info !important;
  border-color: $info !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: mix(white, $info, 20%) !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-info-outline {
  background-color: $white;
  border: 1px solid $info;
  color: $info !important;
  text-transform: uppercase;

  &:hover {
    color: $info;
    border: 1px solid $info;
    background: mix(white, $info, 90%) !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-info-nude {
  color: $info;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $info;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}
.btn-success-fill {
  background-color: $success !important;
  border-color: $success !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: mix(white, $success, 20%) !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-success-outline {
  background-color: $white;
  border: 1px solid $success;
  color: $success !important;
  text-transform: uppercase;

  &:hover {
    color: $success;
    border: 1px solid $success;
    background: mix(white, $success, 90%) !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-success-nude {
  color: $success;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $success;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}
.btn-danger-fill {
  background-color: $danger !important;
  border-color: $danger !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: mix(white, $danger, 20%) !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-danger-outline {
  background-color: $white;
  border: 1px solid $danger;
  color: $danger !important;
  text-transform: uppercase;

  &:hover {
    color: $danger;
    border: 1px solid $danger;
    background: mix(white, $danger, 90%) !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-danger-nude {
  color: $danger;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $danger;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}
.btn-grey-fill {
  background-color: $gray-400 !important;
  border-color: $gray-400 !important;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background: $gray-400 !important;
    color: $white;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-grey-outline {
  background-color: transparent;
  border: 1px solid $gray-400;
  color: $gray-400 !important;
  text-transform: uppercase;

  &:hover {
    color: $gray-400;
    border: 1px solid $gray-400;
    background: #e7246b !important;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}

.btn-grey-nude {
  color: $gray-400;
  background: transparent !important;
  border: transparent !important;

  &:hover {
    color: $gray-400;
  }

  &:disabled {
    color: white !important;
    background: $gray-500 !important;
    border-color: $gray-500 !important;
  }
}