
.border-bottom-table {
  border-bottom: 2px solid $gray-500 !important;
}

.shadows {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}

.wide-modals {
  margin-top: 20vh;
  min-width: 900px
}

.cursor-pointer {
  cursor: pointer;
}

.border-dashed {
  border: 2px dashed $primary !important;
}

.inner-right-button {
  z-index: 999;
  position: relative;
  margin: 10px auto;
  width: 100%;
}

@media (min-width: 768px) {
  .inner-right-button {
    margin-top: -55px;
    z-index: 999;
    position: absolute;
    right: 25px;
    width: 170px;
  }
}

.table-hover {
  tbody {
    tr {
      &:hover {
        td {
          background-color: mix(white, $primary, 70%) !important;
        }

        th {
          background-color: mix(white, $primary, 70%) !important;
        }
      }
    }
  }
}

table.report-table {
  border-collapse: collapse;
  border-radius: 0.25rem !important;
  overflow: hidden;
}

table.report-table > thead.thead-primary {
  background: $primary !important;
  color: #333;
}

table.report-table > thead.thead-primary > tr > th {
  border: 1px solid white !important;
  vertical-align: middle;
  text-align: center;
  border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
}

table.report-table > thead.thead-primary > tr > th.odd {
  background: mix(white, $primary, 65%) !important;
}

table.report-table > thead.thead-primary > tr > th.even {
  background: mix(white, $primary, 85%) !important;
}

table.report-table > tbody > tr {
  border-bottom: 1px solid $gray-200;
}

table.report-table > tbody > tr > td {
  text-align: center;
}

table.report-table > tfoot > tr {
  text-align: center;
  border-top: 2px solid #ececec;
  background: mix(white, $primary, 70%) !important;
  border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
}

.mx-icon-calendar {
  color: $primary !important;
}

.mx-calendar-content .cell.active {
  background: mix(white, $primary, 10%) !important;
  font-weight: bolder !important;
  color: white;
}

.mx-table-date .today {
  color: mix(white, $primary, 50%) !important;
  font-weight: bolder !important;
}

.mx-calendar-content .cell:hover {
  background: mix(white, $primary, 30%) !important;
}

@keyframes bouncing {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bouncing {
  position: relative;
  animation-duration: 2s;
  animation-name: bouncing;
  animation-iteration-count: infinite;
  font-size: 2em;
}

@keyframes bouncing {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bouncing {
  position: relative;
  animation-duration: 2s;
  animation-name: bouncing;
  animation-iteration-count: infinite;
  font-size: 2em;
}


.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative
}

.progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

.progressbar .active {
  color: #000000
}

.progressbar li {
  list-style-type: none;
  width: 30%;
  float: left;
  position: relative
}

.progressbar #location:before {
  content: ""
}

.progressbar #personal:before {
  content: ""
}

.progressbar #payment:before {
  content: ""
}

.progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

.progressbar li.active:before,
.progressbar li.active:after {
  background: var(--primary);
}

.progressbar > li > i {
  display: block;
  color: white;
  font-size: 1.8em;
  margin-top: -45px;
  margin-left: 0%;
}

.table-freeze {
  max-height: 450px;
  overflow-y: scroll
}

.table-freeze-x {
  min-width: 1400px !important;
}

.thead-freeze {
  position: sticky;
  top: 0;
  background: white;
  z-index: 9
}

.h-400px {
  max-height: 400px !important;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.overflow-scroll-x {
  overflow-x: scroll !important;
}

@media (max-width: 976px) {
  .modal-dialog {
    max-width: 40% !important;
  }
}

.multiselect__select::before {
  z-index: 9999 !important;
  top: 55% !important;
}

.z-index-1 {
  z-index: 9 !important;
}

.z-index-2 {
  z-index: 99 !important;
}

.z-index-3 {
  z-index: 999 !important;
}

.font-title {
  font-family: 'Signika Negative', cursive !important;
}

.bg-custom {
  background: url("assets/images/product/batik-backround.png");
  background-repeat: no-repeat;
}

.btn-pill {
  border-radius: 4em !important;
}

.bg-gray {
  background: var(--gray) !important;
}

.border-gray {
  border: var(--gray-dark) !important;
}

.bg-pink {
  background: #e7246b !important;
}

.text-gray {
  color: var(--gray) !important;
}