.form-control{
    &:disabled {
        outline: 0;
        border:0;
        background-color:$gray-200;
        color:$gray-600;
    }
}

.custom-box-shadow{
    box-shadow:none !important;
    &:active{
        box-shadow: 0 0 0 0.15rem rgba(217, 215, 212, 0.25) !important;
    }
    &:focus{
        box-shadow: 0 0 0 0.15rem rgba(217, 215, 212, 0.25) !important;
    }
}

.multiselect.multiselect--disabled {
	background: #fff;
	>.multiselect__tags {
		background: #ededed !important;
		>.multiselect__single {
			background: #ededed !important;
		}
	}
	>.multiselect__select {
		height: 28px !important;
		top: 1px !important;
	}
}

