/*
Template Name: Skote - Responsive Bootstrap 4 Admin Dashboard
Author: Themesbrand
Version: 1.0.0
Website: https://themesbrand.com/
Contact: themesbrand@gmail.com
File: Main Css File
*/


* {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif !important;
}

body {
  background: var(--white) !important;
}

.shadow-white {
  box-shadow: 5px 10px 18px #AE246C;
}

.bg-footer {
  background-repeat: no-repeat;
  min-height: 180px;

  background-size: 100%;
}

@media only screen and (max-width: 480px) {
  .bg-footer {
    background-position: bottom !important;
  }
}

.bg-custom-blue {
  background: #82ccdd !important;
}

.font-head {
  font-family: 'Staatliches', cursive;
}

.font-title {
  font-family: 'Londrina Solid', cursive;
}

h1, h2, h3, h4, h5, h6, p {
  color: #333333;
}

.custom-border {
  border: 2px solid var(--dark);
}

//Fonts
@import "custom/fonts/fonts";

//Core files
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "init/color";

@import "variables";
@import "custom/style/color-library";
@import "custom/style/button-library";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap";

// Structure
@import "custom/structure/general";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";

// Components
@import "custom/components/avatar";
@import "custom/components/helper";
@import "custom/components/preloader";
@import "custom/components/widgets";
@import "custom/components/demos";
@import "custom/components/print";

//Pages
@import "custom/pages/authentication";
@import "custom/pages/ecommerce";
@import "custom/pages/email";
@import "custom/pages/projects";
@import "custom/pages/contacts";
@import "custom/pages/timeline";
@import "custom/pages/extras-pages";
@import "custom/pages/chat";
@import "custom/pages/crypto";
@import "custom/pages/coming-soon";

// Plugins
@import "custom/plugins/custom-scrollbar";
@import "custom/plugins/dragula";
@import "custom/plugins/range-slider";
@import "custom/plugins/taskboard";
@import "custom/plugins/form-editors";
@import "custom/plugins/form-upload";
@import "custom/plugins/google-map";
@import "custom/plugins/carousel";

@import "icons";
@import "custom/style/custom-components";
@import "custom/style/custom-forms";
@import "custom/style/custom-gutters";
@import "custom/style/button-library";
@import "custom/style/color-library";
@import "layouts/general";
@import "layouts/spots";
@import "layouts/navbar";

