<template>
  <section >
    <b-row class="py-5">
      <b-col class="" cols="12">
        <b-row class="mx-0 border-bottom border-dark">
          <b-col cols="12" lg="2" class="custom-border-bottom">
            <h5 class="font-weight-bold text-primary">
              Info Produk
            </h5>
          </b-col>
        </b-row>
      </b-col>
      <div class="col-12 mt-3">
        <h4 class="text-success">Rincian</h4>
        <span class="font-size-14" v-html="data.attributes.description"/>
      </div>
    </b-row>
  </section>
</template>

<script>
export default {
  name: "ProductDescription",
  props: {
    data: {default: () => ({})}
  }
}
</script>

<style scoped>
.custom-border-bottom {
  border-bottom: 2px solid var(--primary);
}
</style>