<template>
  <b-row class="mb-3 mt-3 mt-lg-0">
    <b-col cols="12" lg="3">
      <h5 class="font-weight-semibold">Product List</h5>
    </b-col>
    <b-col cols="12" lg="9" class="text-left text-lg-right">
      <b-row>
        <b-col cols="4" lg="6" class="text-muted mt-2 mt-lg-0">
          Urutkan
        </b-col>
        <b-col cols="8" lg="6" class="text-muted mt-lg-n2">
          <select-input :is_nullable="true" :options="options.filter" v-model="local_value" size="sm" :is_searchable="true"/>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import SelectInput from "../../atoms/input/SelectInput";
import product_constant from "@/constants/product"

export default {
  name: "ProductFilter",
  components: {SelectInput},
  props: {
    value: {default: () => ({})}
  },
  computed: {
    local_value: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit("input", value)
      },
    }
  },
  data: () => ({
    options: {
      filter: product_constant.filter()
    },
  })
}
</script>

<style scoped>

</style>