<template>
  <div>
    <plain-label :value="product_name" :size="product_name_font_size"/>
    <div class="row px-2 ">
      <div class="col-9 px-1">
        <product-point :point="point" :point_font_size="point_font_size"/>
        <product-review :rating="rating" :rating_font_size="rating_font_size" :review="review"
                        :review_font_size="review_font_size"/>

      </div>
      <div class="col-3 align-middle pt-2 px-0">
        <span v-if="is_wishlist" class="bg-pink btn-pill cursor-pointer pt-2 px-3 btn-sm">
          <i class="bx bxs-heart text-white font-size-16"></i>
        </span>
        <span class="border-dark btn-pill cursor-pointer border pt-2 px-3 btn-sm">
          <i class="bx bx-heart text-muted font-size-16"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import {Fragment} from "vue-fragment"
import PlainLabel from "../../atoms/label/PlainLabel";
import ProductPoint from "../shared/ProductPoint";
import ProductReview from "../shared/ProductReview";

export default {
  name: "ProductOverview",
  components: {ProductReview, ProductPoint, PlainLabel, Fragment},
  props: {
    product_name: {default: 0},
    product_name_font_size: {default: "16"},
    point: {default: 0},
    point_font_size: {default: "14"},
    rating: {default: "0"},
    rating_font_size: {default: "14"},
    review: {default: "0"},
    review_font_size: {default: "14"},
    is_wishlist: {default: false}
  },
  computed: {
    actual_value: function () {
      let star_formatted
      let rate = parseFloat(this.rating)
      let decimal = rate % 1
      if (decimal > 0.50 && decimal < 0.59) {
        star_formatted = {
          half: 1,
          filled: Math.floor(rate),
          blank: 4 - Math.floor(rate)
        }
      } else if (decimal > 0.50) {
        star_formatted = {
          half: 0,
          filled: Math.ceil(rate),
          blank: 5 - Math.ceil(rate)
        }
      } else {
        star_formatted = {
          half: 0,
          filled: Math.floor(rate),
          blank: 5 - Math.floor(rate)
        }
      }
      return star_formatted
    },
  }
}
</script>

<style scoped>

</style>