<template>
  <div class="position-absolute h-100 w-100 in-stock-bg p-3 wrapper-product-position rounded-lg z-index-2">
    <product-stock stock="10" custom_style="color: white !important"/>
    <div style="margin-top: 50%">
      <plain-label variant="white" :value="data.attributes.name" size="16"/>
    </div>
    <button @click="processRouteToDetail(data)" class="btn btn-outline-light btn-sm mt-3 btn-pill w-100">
      <i class="bx bx-show"></i> View Detail
    </button>
    <div class="text-right position-absolute " style="bottom: 45px;right: 20px">
      <div v-if="helper.is_loading">
        <b-spinner small variant="light"/>
      </div>
      <div v-else>
        <span v-if="(data.attributes.isWishlist === 1)" class="bg-pink btn-pill cursor-pointer pt-2 px-3 btn-sm"
              v-b-tooltip title="Hapus Wishlist">
          <i class="bx bxs-heart text-white font-size-16"></i>
        </span>
        <span class="border-white btn-pill cursor-pointer border pt-2 px-3 btn-sm" v-b-tooltip title="Tambah Wishlist"
              @click="processCreateWishlist(data)">
          <i class="bx bx-heart text-white font-size-16"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import ProductStock from "../shared/ProductStock";
import PlainLabel from "../../atoms/label/PlainLabel";

export default {
  name: "ProductAction",
  components: {PlainLabel, ProductStock},
  props: {
    data: {default: () => ({})}
  },
  data: () => ({
    helper: {
      is_loading: false
    }
  }),
  methods: {
    setPayloadCreateWishlist() {
      return {
        id: this.data.id
      }
    },

    processRouteToDetail(data) {
      this.$utility.setCookie("selectedProduct", data.id)
      this.$router.push(`/detail?slug=${data.attributes.slug}`)
    },

    toggleLoadingData() {
      this.helper.is_loading = !this.helper.is_loading
    },

    async processCreateWishlist() {
      this.toggleLoadingData()
      try {
        let payload = this.setPayloadCreateWishlist()
        let data = await this.$store.dispatch("wishlist/create", payload)
        this.$bvToast.toast(`Berhasil menambahkan produk ${this.data.attributes.name} ke wishlist`, {
          title: `Berhasil menambah wishlist`,
          variant: "success",
          toaster: "b-toaster-bottom-right",
          solid: true
        })
      } catch (e) {
        this.$bvToast.toast(`Gagal menambahkan produk ${this.data.attributes.name} ke wishlist`, {
          title: `Gagal menambah wishlist`,
          variant: "danger",
          toaster: "b-toaster-bottom-right",
          solid: true
        })
        throw e
      }
      this.toggleLoadingData()
    },
  }
}
</script>

<style scoped>

</style>