<template>
  <div class="text-center">
    <img :src="image" class="mx-auto img-fluid"/>
  </div>
</template>

<script>
export default {
  name: "ProductImage",
  props: {
    image: {default: "https://via.placeholder.com/216x256"}
  }
}
</script>

<style scoped>

</style>