<script>
import CustomHeader from "~/components/core/CustomHeader";
import CustomFooter from "../components/core/CustomFooter";

export default {
  components: {CustomFooter, CustomHeader},
  mounted() {
  },
  data() {
    return {};
  }
};
</script>

<template>
  <div class="d-block  bg-custom " style="background-position: bottom">
    <custom-header/>
    <div class="container py-3 position-relative">
      <slot />
    </div>
    <custom-footer />
  </div>
</template>
