<script>
import {Fragment} from "vue-fragment"

export default {
  components: {
    Fragment
  },
  props: {
    id: {default: ""},
    value: {default: ""},
    size: {default: ""},
    has_border: {default: false},
    is_responsive: {default: false},
    font_color: {default: "#f4e327"},
    border_size: {default: "2px"},
    border_color: {default: "#2b4d9d"},
    additional_class: {default: ""}
  },
  computed: {
    fix_size: function () {
      if (this.$vssWidth < 480 && this.is_responsive) {
        return 2
      } else {
        return this.size
      }
    }
  },

}
</script>
<template>
  <p :class="`text-wrap ${(additional_class) ? additional_class : 'my-0'}`"
     :style="`overflow-wrap: break-word !important;font-size:${fix_size}em; `">
    <span v-html="value"
          :style="`${(has_border) ? 'text-shadow:  ' + border_size + ''  + border_color : ''}; color: ${font_color} !important`">
    </span>
  </p>
</template>