<template>
  <b-row :class="additional_class" :no-gutters="has_gutters">
    <slot />
  </b-row>
</template>

<script>
export default {
  props : {
    additional_class : {type: String, default : ""},
    has_gutters : {type: Boolean, default : false},
  }
}
</script>