<template>
  <div>
    <button v-if="arrow.left" @click="paginateTo(current_page -1)" class="btn btn-warning btn-pill btn-lg">
      <
    </button>
    <button v-if="paging.left" @click="paginateTo(current_page -1)" class="btn btn-warning btn-pill btn-lg">
      {{ current_page - 1 }}
    </button>
    <button class="btn btn-warning disabled btn-pill btn-lg">
      {{ current_page }}
    </button>
    <button v-if="paging.right" @click="paginateTo(current_page +1)" class="btn btn-warning btn-pill btn-lg">
      {{ current_page + 1 }}
    </button>
    <button v-if="arrow.right" @click="paginateTo(current_page +1)" class="btn btn-warning btn-pill btn-lg">
      >
    </button>
  </div>
</template>

<script>
export default {
  name: "ContentPagination",
  props: {
    current_page: {default: 0},
    per_page: {default: 1},
    total_data: {default: 0}
  },
  data: () => ({
    arrow: {
      left: false,
      right: false
    },
    paging: {
      left: false,
      right: false,
    }
  }),
  watch: {
    current_page: function () {
      this.processCountData()
    },
    total_data: function () {
      this.processCountData()
    }
  },
  mounted (){
    this.processCountData()
  },
  methods: {
    processCountData() {
      let last_of_page = ((parseInt(this.current_page)) * parseInt(this.per_page) >= parseInt(this.total_data))
      if (this.current_page === 1 && !last_of_page) {
        // alert("pertama dan bukan terakhir")
        this.arrow = {
          right: true,
          left: false
        }
        this.paging = {
          right: true,
          left: false
        }
      } else if (this.current_page === 1 && last_of_page) {
        // alert("pertama dan terakhir")
        this.arrow = {
          right: false,
          left: false
        }
        this.paging = {
          right: false,
          left: false
        }
      } else if (!last_of_page){
        // alert("bukan pertama dan bukan terakhir")
         this.arrow = {
          right: true,
          left: true
        }
        this.paging = {
          right: true,
          left: true
        }
      }
      else if (last_of_page) {
        // alert("terakhir")
        this.arrow = {
          right: false,
          left: true
        }
        this.paging = {
          right: false,
          left: true
        }
      }
    },

    paginateTo(page) {
      this.$emit("update", page - 1)
    },

    processPagination() {

    }
  }
}
</script>

<style scoped>

</style>