<script>
export default {
  async mounted() {
    window.addEventListener('scroll', this.windowScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.windowScroll);
  },
  methods: {
    windowScroll() {
      const navbar = document.getElementById("navbar");
      if (document.body.scrollTop >= 50 || document.documentElement.scrollTop >= 50) {
        navbar.classList.add("position-fixed");
      } else {
        navbar.classList.remove("position-fixed");
      }
    },
    toggleMenu() {
      document.getElementById("topnav-menu-content").classList.toggle("show");
    },
  }
};
</script>

<template>
  <div class="position-relative z-index-3 mb-1 mt-0">
    <nav class="navbar navbar-expand-lg navigation bg-white border-bottom" id="navbar" style="top: 0">
      <div class="container">
        <a class="navbar-logo" href="/">
          <img src="@/assets/images/logo/logo.png" alt height="48" class="logo logo-dark"/>
          <img src="@/assets/images/logo/logo.png" alt height="48" class="logo logo-light"/>
        </a>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-toggle="collapse"
                data-target="#topnav-menu-content" @click="toggleMenu()">
          <i class="bx bx-menu text-dark"></i>
        </button>
        <div class="collapse navbar-collapse" id="topnav-menu-content">
          <ul class="navbar-nav ml-auto" id="topnav-menu">
            <li class="nav-item">
              <nuxt-link to="/" tag="a"
                         :class="`nav-link text-center text-lg-left text-dark
                         ${($route.path === '/') ? 'font-weight-bolder border-bottom' : '' }`">
                Produk
              </nuxt-link>
            </li>
            <li class="nav-item">
              <a :href="`https://wa.me/`" target="_blank"
                 class="nav-link text-center text-lg-left text-dark" rel="noreferrer noopener">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>