<template>
  <footer class="bg-dark py-3">
    <section class="container p">
      <div class="row">
        <div class="col-12 col-lg-4 text-center text-lg-left">
          <i class="bx bxl-instagram text-white font-size-24 pr-1"></i>
          <i class="bx bxl-facebook text-white font-size-24 pr-1"></i>
          <i class="bx bxl-twitter text-white font-size-24 pr-1"></i>
        </div>
        <div class="col-12 col-lg-8 text-white text-center text-lg-right font-size-16">
          <span >Terms & Condition | Copyright © 2018. All rights reserved. PT Radya Gita Bahagi</span>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
export default {
  name: "CustomFooter"
}
</script>

<style scoped>

</style>