<template>
  <b-row class="px-2 px-lg-0">
    <b-col cols="12" class="border-bottom  border-dark px-0 ">
      <h5 class="font-weight-semibold">Navigation</h5>
    </b-col>
    <square-card :has_border="true" :has_shadow="false" additional_class="rounded border-dark mt-3">
      <b-row class="" v-for="(menu, index) in options.navigation" :key="index">
        <b-col cols="6">
          {{ menu.text }}
        </b-col>
        <b-col cols="6" class="text-right">
          <checkbox-input v-model="local_value" :options="[{text: '', value: menu.value }]"/>
        </b-col>
      </b-row>
    </square-card>
  </b-row>
</template>

<script>
import SquareCard from "../atoms/card/SquareCard";
import CheckboxInput from "../atoms/input/CheckboxInput";
import product_constant from "../../constants/product"

export default {
  components: {CheckboxInput, SquareCard},
  data : () => ({
    options : {
      navigation : product_constant.navigation()
    }
  }),
  props : {
    value  : {default  :() => ([])}
  },
  computed: {
    local_value: {
      get: function () {
        return this.value
      },
      set: function (value) {
        this.$emit("input", value)
      },
    }
  },
}
</script>

<style scoped>

</style>